@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  justify-content: center;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.full-height {
  height: 100%;
}

.main-view-container {
  flex-grow: 1;
}

.main-view-header {
  width: 100%;
  padding: 20px;
  position: relative;
}

.main-view-content {
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
  overflow-y: scroll;
  padding: 20px;
}
