.table-view-main-table {
    width: auto !important;
}

.table-view-main-table .MuiTableCell-root {
    padding: 8px !important;
    font-size: 0.857143rem !important;
    text-align: center !important;
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-bottom: 1px solid #ddd !important;
    color: rgb(255, 255, 255) !important;
}

.table-view-main-table .MuiTableCell-head {
    font-weight: 600 !important;
}

.table-view-main-table .MuiTableCell-body {
    color: rgb(255, 255, 255) !important;
}
